audio{
    z-index: 5;
    position: absolute;
    bottom: 0;
    opacity: 0.1;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
audio:hover{
    opacity: 1;
}
.wall{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.center {
    text-align: center;
}
div#background{
    background: url(resources/preview.jpg)no-repeat;
    -webkit-animation: dd 100s linear infinite;
    -moz-animation: dd 100s linear infinite;
    -o-animation: dd 100s linear infinite;
    animation: dd 100s linear infinite;
    background-size: cover;
}
/* div#midground{
    background: url(resources/midground.png);
    z-index: 1;
    -webkit-animation: cc 100s linear infinite;
    -moz-animation: cc 100s linear infinite;
    -o-animation: cc 100s linear infinite;
    animation: cc 100s linear infinite;
}
div#foreground{
    background: url(resources/foreground.png);
    z-index: 2;
    -webkit-animation: cc 153s linear infinite;
    -o-animation: cc 153s linear infinite;
    -moz-animation: cc 153s linear infinite;
    animation: cc 153s linear infinite;
}
div#top{
    background: url(resources/midground.png);
    z-index: 4;
    -webkit-animation: dd 100s linear infinite;
    -o-animation: dd 100s linear infinite;
    animation: da 100s linear infinite;
} */
@-webkit-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@-o-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@-moz-keyframes cc {
    from{
        background-position: 0 0;
        transform: translateY(10px);
    }
    to{
        background-position: 600% 0;
    }
}
@keyframes cc {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 600% 0;
    }
}

@keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-webkit-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-moz-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
@-ms-keyframes da {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 600%;
    }
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#bookView{
    position: absolute;
    left: auto;
    right: 20%;
    top: 5em;
    width: 40em;
    height: 56.51em;
    transform-style: preserve-3d;
    transform:perspective(1000px) rotateX(60deg) rotateY(0deg);
    transition: 1s;
}
#bookView.chrome {
    right: 30%;
    top: 2.5em;
    height: 25em;
    width: 31.25em;
}
#bookView:hover{
    transform:perspective(1000px) rotateX(0deg) rotateY(0deg);
}
#bookView.open {
    right: 10%;
    transition: 1s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) !important;
}
#bookView .page{
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left;
    transition: 1s;
    font-size: 1em;
    color: black;
}
#bookView .contentBackground {
    width: 40em;
    height: 56.51em;
    z-index: 1;
    box-shadow: 0.25em 0.25em 2.5em #444;
    background-image: url(resources/background_en.png);
    background-size: 40em 56.51em;
    background-repeat: no-repeat;
}
#bookView.chrome .contentBackground {
    width: 32.5em;
    height: 45.91em;
    background-size: 32.5em 45.91em;
}
#bookView #coverView {
    width: 40em;
    height: 56.51em;
    z-index: 3;
    box-shadow: 0.25em 0.25em 2.5em #444;
    background-image: url(resources/cover_en.png);
    background-size: 40em 56.51em;
    background-repeat: no-repeat;
}
#bookView #coverView img {
    width: 40em;
    height: 56.51em;
}
#bookView.chrome #coverView {
    width: 32.5em;
    height: 45.91em;
    background-size: 32.5em 45.91em;
}
#bookView.chrome #coverView img {
    width: 32.5em;
    height: 45.91em;
}
#bookView #coverView:hover {
    cursor: pointer;
}
#bookView.open #coverView {
    transform: rotateY(-180deg);
    box-shadow: -0.25em 0.25em 2.5em #444;
}
.page .container {
    z-index: 2;
    position: relative;
    font-size: 2em;
    font-family: cursive;
    color: #BDAC88;
    padding-top: 3em;
    padding-left: 1em;
    text-align: left;
}
.container hr { 
    height: 0.1em;
    width: 100%;
    border: none;
    border-top: medium double #BDAC88;
    color: #BDAC88;
    text-align: center;
}
.container hr:after {
    content: "♥︎";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    background: #fafafa;
}
.chrome .page .container {
    font-size: 1.5em;
}
.container h1 {
    font-size: 1.5em;
    vertical-align: center;
    font-family: fantasy;
}
.container h1 .large {
    font-size: 1.5em;
}
.container h3 {
    font-weight: 800;
}
.container .date-up {
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.container .date-down {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#bookView:after{
    content: "";
    position: absolute;
    width: 32em;
    height: 0.625em;
    background: rgba(0,0,0,0.8);
    left:4.6875em;
    z-index: -2;
    bottom: -10px;
    border-radius: 70%;
    /* box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.8); */
}
#bookView.chrome::after {
    width: 25em;
}
.btn.btn-link {
    position: absolute;
    color: red;
    top: 2em;
    right: 3em;
    font-weight: 800;
    font-size: 1.5em;
}
.btn.btn-link:hover {
    color: #a00
}
.cursor-ptr {
    cursor: pointer;
}

@media (max-width: 767px) {
    #bookView{
        overflow-x: hidden;
        position: relative;
        top: 0 !important;
        left: 0 !important;
        margin: 0;
        height: 100% !important;
        width: 100% !important;
        transform:perspective(1000px) rotateX(0deg) rotateY(0deg);
        transition: 1s;
    }

    #bookView.open {
        left: 0
    }

    #bookView:after{
        content: "";
        position: absolute;
        width: 100% !important;
        height: 0.625em;
        background: rgba(0,0,0,0.8);
        left:4.6875em;
        z-index: -2;
        bottom: -10px;
        border-radius: 70%;
        /* box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.8); */
    }

    #bookView #coverView {
        margin-top: 25%;
        background-size: 100% auto !important;
        width: 100% !important;
        height: auto !important;
    }
    #bookView #coverView img {
        width: 100% !important;
        height: auto !important;
    }

    #bookView .contentBackground {
        margin-top: 25%;
        width: 100% !important;
        height: auto !important;
        background-size: 100% auto !important;
    }

    #bookView .contentBackground img {
        width: 100% !important;
        height: auto !important;
    }

    #bookView .page{
        height: 37.5em;
        width: auto;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: left;
        transition: 1s;
        font-size: 1em;
        color: black;
    }

    #bookView .page .container {
        margin: 0;
        font-size: 1em;
        padding: 0;
        max-width: none;
    }

    .container {
        margin-top: 30% !important;
    }
    
    .container h1 {
        font-size: 1.2em;
        vertical-align: center;
        font-family: fantasy;
    }
    .container h1 .large {
        font-size: 1.2em;
    }

    .btn.btn-danger {
        margin-top: -1em;
    }

    .btn.btn-link {
        top: auto;
        margin: 0;
        left: 1em;
        right: auto;
        bottom: 1em !important;
        position: absolute !important;
    }
}